<p style="color: green"><%= notice %></p>

<%= render @paycheck %>

<div>
  <%= link_to "Edit this paycheck", edit_paycheck_path(@paycheck) %> |
  <%= link_to "Back to paychecks", paychecks_path %>

  <%= button_to "Destroy this paycheck", @paycheck, method: :delete %>
</div>
