<div id="<%= dom_id debt %>">
  <p>
    <strong>Owed:</strong>
    <%= debt.owed %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= debt.limit %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= debt.rate %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= debt.payment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= debt.user_id %>
  </p>

</div>
