<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= account.start %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= account.total %>
  </p>

  <p>
    <strong>End:</strong>
    <%= account.end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

</div>
